.card{
    width: 100%;
}
.hero-body{  
/* position: absolute; */
width:100%;
height: 349.47px;
/* left: 1rem; */
/* top: -5.55px; */
background: #C1995B;
background-repeat: no-repeat;
/* background-size: ; */
color: #FFFFFF !important;
}
.hero-heading{
    width: 409px;
    /* height: 116px; */
    height: 96px;
    font-family: 'Playfair Display';
    font-style: normal;
    font-weight: 700;
    font-size: 48px;
    line-height: 120%;
    color: #FFF8F8;
    margin-left: 100px;
}
.hero-para{
    width: 495px;
    /* height: 54px; */
    height: 65px;
    font-family: 'Plus Jakarta Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 150%;
    color: #FFF8F8;
    font-family: Plus Jakarta Sans;
    line-height: 27px;
    letter-spacing: 0em;
    text-align: left;
    margin-left: 101px;
}
.hero-btn{
    width: 153px;
height: 45px;
background: #00455A;
border: 3px solid #00455A;
border-radius: 7px;
color: #FFFFFF;
margin-left: 106px;
position: relative;
}
.hero-col-1{
    position: relative;
    top: 35px;
}