.footer-body{
    /* padding: 80px 64px; */
    gap: 80px;
    width: 100%;
    height: 578px;
    /* teal */
    background: #00455A !important;
    color: #F9F5EF !important;
    background-size: cover;
}